{% extends 'admin_base.html' %}
{% block title%}All user{% endblock %}
{% block active_users %}active{% endblock %}
{% block content %}
    <div class="container">
        <div class="column">
            <div class="row mt-5">
                <h1 class="text-center"> All user</h1>
            </div>
            <div class="row mt-5 border">
                <div class="col text-start font-color">ID:</div>
                <div class="col text-start font-color">Username:</div>
                <div class="col text-start font-color">Email:</div>
                <div class="col text-start font-color">          </div>
                {% with i = 0 %}
                {% for user in all_user %}
                    <div class="row {% if i==0 %}mt-1{% else %}mt-3{% endif %} mt-4">
                        <div class="col text-start font-color">{{user._id}}</div>
                        <div class="col text-start font-color">{{user.name}}</div>
                        <div class="col text-start font-color">{{user.email}}</div>
                        <div class="col text-start font-color"><a class="btn btn-danger" href="/home/admin_delete/{{user._id}}" role="button">Delete</a></div>
                    </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}